* {
    margin: 0;
    padding: 0;
}

.wapper {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px auto;
}

.pan, .pan img {
    width: 100%;
    height: 100%;
}
/* .pan {
    width: 100%;
    height: 100%;
}

.pan img {
    width: 100%;
    height: 100%;
} */

.btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 130px;
    height: 130px;
    margin-left: -65px;
    margin-top: -65px;
    cursor: pointer; 
}
/* 出现图标不能自适应， 是因为给图标定了高度100% */
.btn img{
    position: absolute;
    width: 100%;
    top:-23px;
}

